@model Ogre.Models.FormAuth
@{
    ViewBag.Title = "Connexion";
}

<h2>Se connecter</h2>
@using (Html.BeginForm())
{
    @Html.Label("Login", "Pseudo")
    @Html.TextBoxFor(model => model.Utilisateur.Login)
    @Html.ValidationMessageFor(model => model.Utilisateur.Login)
    <br/><br />
    @Html.Label("Pwd", "Mot de passe")
    @Html.TextBoxFor(model => model.Utilisateur.Pwd)
    @Html.ValidationMessageFor(model => model.Utilisateur.Pwd)
    <input type="submit" value="Envoyer"/>
}
